	* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: 
		border-box;
		font-family: "Lucida Console";
	}
		
	.container {
		max-width: 960px;
		margin: 0 auto;
	}

	body {
		background-color: #fff;
		font: "Lucida Console";
	}


	h2 {
		text-align: center;
	}

	header {
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
		margin-bottom: 20px;
	}

	.navbar {
		display: block;
		width: 100%;
		height: 42px;
	}

	.logo {
		width: 50px;
		height: 53px;
		float: left;
		margin: 0;
	}

	.float-right {
		float: right;
		margin-top: 28px;
	}

	nav ul {
		margin: 0;
	}

	nav ul li {
		display: inline;
		margin-right: 20px;
		font-size: 15px;
		line-height: 28px;
		color: #333;
	}

	a {
		color: black;
	}
	
	a:link {
		text-decoration: none;
	}

	a:visited {
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
		color: #787571;
	}

	.banner {
		width: 960px;
		height: 300px;
		padding: 5px;
	}

	/* footer code */


	#content {
		width: 100%;
		margin: 0;
	}


	.row {
		width: 100%;
		margin: 5 auto 20px auto;
		display:inline-block;
		position: relative;

	}

	.box {
		float: left;
		margin-right: 2%;
		width: 49%;
		line-height: 15px;
	}

	.row .box:last-child {
		margin-right: 0;

	}

	p {
		font-size: .75em;
		line-height: 20px;
	}

	h2 {
		margin-bottom: 20px;
		line-height: 20px;
	}


	#rules-ul {
		font-size: .75em;
		margin: 10px 0;
		list-style: none;
		line-height: 20px;
	}

	#image {
		margin-left: 35%;
	}

	.video-container {
		margin-left: 250px;
	}

	#doodle1 {
		margin-top: 30px;
	}

	#doodle2 {
		margin-top: 50px;
		margin-left: 10px;
		width: 300px;
		height: 300px; 
	}

	#doodle3 {
		margin-left: 50px;
		margin-top: 50px;
	}


	hr { background-color: #ccc; 
	border: 0px; 
	color: #ccc; 
	height: 1px; 
	margin: 8px 0 20px 0; }



